@model MorgenBuffet.DTO.OrderSumDTO
@{
    ViewData["Title"] = "Kitchen";
}

<div>
    <header> Kitchen Orders</header>
    <button>Opdate page</button>
    <form asp-action="GetOrdersOnDate" method="get">
        <div class="form-group">
            <label> Date:</label>
            <input type="date" class="form-control" id="date" name="date" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="submit" />
        </div>
    </form>
</div>
<label>Expected adults: @Model.ExpectedAdults</label>
<label>Expected kids: @Model.ExpectedKids</label>
<label>checked in adults: @Model.Adults</label>
<label>checked in kids: @Model.Kids</label>
<label>remaining adults: @Model.RemainingAdults</label>
<label>remaining kids: @Model.RemainingKids</label>
